html {
    height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.fullheight {
    height: 100%;
}

.margin-right {
    margin-right: 0.5rem;
}
