.notes-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;

    &__item {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #2e7d32;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            background-color: #ddffdd;
        }

        &--folder::after {
            content: "\f105";
            font-family: 'icomoon' !important;
            font-size: 1.8rem;
            color: green;
            margin-right: 0.3rem;
        }
    }

    &__link {
        color: black;
        cursor: pointer;
        text-decoration: none;
        flex-grow: 1;
        line-height: 1.75rem;
        font-size: 1rem;
        margin: 0.4rem 0.7rem;
    }
}
