.popup-back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.popup {
    background: white;
    min-width: 22rem;
    min-height: 6rem;
    margin-top: 20vh;
    margin-bottom: 5vh;

    &__content {
        padding: 0.6rem;
    }

    &__button {
        background-color: white;
        border: 1px solid #ccc;
        padding: 0.4rem 0.7rem;
        font-size: 1.0rem;

        &:not(:disabled) {
            cursor: pointer;
          }

        &:hover:not(:disabled) {
            background-color: #f7f7f7;
        }

        &:active:not(:disabled) {
            background-color: #eee;
        }

        &:disabled {
            opacity: 0.7;
        }
    }

    &__input {
        display: block;
        font-size: 1.0rem;
        line-height: 1.4rem;
        border: 1px solid #ccc;
        padding: 0.4rem 0.7rem;
        width: 100%;
        box-sizing: border-box;

        &--invalid {
            border-color: #dc3545;
            outline-color: #dc3545;
        }
    }

    &__validation-msg {
        color: #dc3545;
        font-size: 0.9rem;
        margin-top: 0.2rem;
        margin-left: 0.1rem;
    }
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row *:not(:first-child) {
    margin-left: 0.4rem;
}
